Git Test!

In [2]:
import pandas as pd

In [5]:
em = pd.read_csv("..\Exxon Mobil.csv")

In [6]:
em

    Year      Company  Revenue (in millions)  Profit (in millions)
0   1955  Exxon Mobil                 5661.4                 584.8
1   1956  Exxon Mobil                 6272.4                 709.3
2   1957  Exxon Mobil                 7126.9                 808.5
3   1958  Exxon Mobil                 7830.2                 805.2
4   1959  Exxon Mobil                 7543.6                 562.5
5   1960  Exxon Mobil                 7910.7                 629.8
6   1961  Exxon Mobil                 8034.7                 688.6
7   1962  Exxon Mobil                 8437.7                 758.1
8   1963  Exxon Mobil                 9536.9                 840.9
9   1964  Exxon Mobil                10264.3                1019.5
10  1965  Exxon Mobil                10814.7                1050.6
11  1966  Exxon Mobil                11471.5                1035.7
12  1967  Exxon Mobil                12191.4                1090.9
13  1968  Exxon Mobil                13266.0                1232.3
14  1969  Exxon Mobil                14091.3                1276.7
15  1970  Exxon Mobil                14929.8                1047.6
16  1971  Exxon Mobil                16554.2                1309.5
17  1972  Exxon Mobil                18700.6                1461.6
18  1973  Exxon Mobil                20309.8                1531.8
19  1974  Exxon Mobil                25724.3                2443.3
20  1975  Exxon Mobil                42061.3                3142.2
21  1976  Exxon Mobil                44864.8                2503.0
22  1977  Exxon Mobil                48630.8                2641.0
23  1978  Exxon Mobil                54126.2                2423.0
24  1979  Exxon Mobil                60334.5                2763.0
25  1980  Exxon Mobil                79106.5                4295.2
26  1981  Exxon Mobil               103142.8                5650.1
27  1982  Exxon Mobil               108107.7                5567.5
28  1983  Exxon Mobil                97172.5                4185.9
29  1984  Exxon Mobil                88561.1                4978.0
30  1985  Exxon Mobil                90854.0                5528.0
31  1986  Exxon Mobil                86673.0                4870.0
32  1987  Exxon Mobil                69888.0                5360.0
33  1988  Exxon Mobil                76416.0                4840.0
34  1989  Exxon Mobil                79557.0                5260.0
35  1990  Exxon Mobil                86656.0                3510.0
36  1991  Exxon Mobil               105885.0                5010.0
37  1992  Exxon Mobil               103242.0                5600.0
38  1993  Exxon Mobil               103547.0                4770.0
39  1994  Exxon Mobil                97825.0                5280.0
40  1995  Exxon Mobil               101459.0                5100.0
41  1996  Exxon Mobil               110009.0                6470.0
42  1997  Exxon Mobil               119434.0                7510.0
43  1998  Exxon Mobil               122379.0                8460.0
44  1999  Exxon Mobil               100697.0                6370.0
45  2000  Exxon Mobil               163881.0                7910.0
46  2001  Exxon Mobil               210392.0               17720.0
47  2002  Exxon Mobil               191581.0               15320.0
48  2003  Exxon Mobil               182466.0               11460.0
49  2004  Exxon Mobil               213199.0               21510.0
50  2005  Exxon Mobil               270772.0               25330.0

In [9]:
em.drop(["Company"], axis=1, inplace=True)

In [10]:
em

    Year  Revenue (in millions)  Profit (in millions)
0   1955                 5661.4                 584.8
1   1956                 6272.4                 709.3
2   1957                 7126.9                 808.5
3   1958                 7830.2                 805.2
4   1959                 7543.6                 562.5
5   1960                 7910.7                 629.8
6   1961                 8034.7                 688.6
7   1962                 8437.7                 758.1
8   1963                 9536.9                 840.9
9   1964                10264.3                1019.5
10  1965                10814.7                1050.6
11  1966                11471.5                1035.7
12  1967                12191.4                1090.9
13  1968                13266.0                1232.3
14  1969                14091.3                1276.7
15  1970                14929.8                1047.6
16  1971                16554.2                1309.5
17  1972                18700.6                1461.6
18  1973                20309.8                1531.8
19  1974                25724.3                2443.3
20  1975                42061.3                3142.2
21  1976                44864.8                2503.0
22  1977                48630.8                2641.0
23  1978                54126.2                2423.0
24  1979                60334.5                2763.0
25  1980                79106.5                4295.2
26  1981               103142.8                5650.1
27  1982               108107.7                5567.5
28  1983                97172.5                4185.9
29  1984                88561.1                4978.0
30  1985                90854.0                5528.0
31  1986                86673.0                4870.0
32  1987                69888.0                5360.0
33  1988                76416.0                4840.0
34  1989                79557.0                5260.0
35  1990                86656.0                3510.0
36  1991               105885.0                5010.0
37  1992               103242.0                5600.0
38  1993               103547.0                4770.0
39  1994                97825.0                5280.0
40  1995               101459.0                5100.0
41  1996               110009.0                6470.0
42  1997               119434.0                7510.0
43  1998               122379.0                8460.0
44  1999               100697.0                6370.0
45  2000               163881.0                7910.0
46  2001               210392.0               17720.0
47  2002               191581.0               15320.0
48  2003               182466.0               11460.0
49  2004               213199.0               21510.0
50  2005               270772.0               25330.0